<!DOCTYPE html>
<html lang='en'>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="main" class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  
  <script src='http://code.jquery.com/jquery.min.js'></script>
  <script src='js/smoothstate.js'></script>
  <script>
    ;(function($) {
      $(function(){
        console.log("here", $('#main'));
        $('#main').smoothState({
          prefetch: true,
          pageCacheSize: 0,
          // blacklist: ".no-smoothstate, [target]",
        });    
      });
    })(jQuery);
  </script>
  </body>
</html>
